<h2>System Users List</h2>

<ul class="users">
	<li *ngFor="let u of users" 
	[class.selected]="u === selectedUser"
	(click)="onSelect(u)">
		<span class="badge">{{u.id}}</span> {{u.name}}

	</li>
</ul>

<app-user-detail [user]="selectedUser"></app-user-detail>