<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ nameApp }}
  </h1>
</div>

<app-users></app-users>
<app-messages></app-messages>


<p>
    Using the Title injected Service:
  </p>
 
  <ul>
    <li><a (click)="setTitle( 'In progress' )">In progress</a>.</li>
    <li><a (click)="setTitle( 'Upcoming' )">Upcoming</a>.</li>
    <li><a (click)="setTitle( 'Canceled' )">Canceled</a>.</li>
  </ul>



